body {
    margin: 0;
  }

.sidebar {
    background-color: aquamarine;
}

body {
    display: grid;
    grid: "sidebar topbar" 1fr
          "sidebar middlebar"1fr
          "sidebar main"4fr 
          / 1fr 4fr;
}

.sidebar {
    grid-area: sidebar;
    background-color: bisque;
}

.topbar {
    grid-area: topbar;
    background-color: blueviolet;
}

.middlebar {
    grid-area: middlebar;
    background-color: darkcyan;
}

.main {
    grid-area: main;
    background-color: wheat;
}