@font-face {  
    font-family: 'Espana Light';  
    font-weight: 400;  
    font-style: normal;  
    font-display: swap; 
    src: url('./assets/Espana-light.woff2') format('woff2');
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
  }

.sidebar {
    background-color: aquamarine;
}

body {
    display: grid;
    grid: "sidebar topbar" 80px
          "sidebar middlebar" 80px
          "sidebar main"4fr 
          / 1fr 4fr;
}

.sidebar {
    grid-area: sidebar;
    background: no-repeat center url(./assets/estudiames-background-cameron-stewart.jpg);
    position: relative;
    color: antiquewhite;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;

}

.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.logo > img {
    max-width: 80px;
}

.logo > span {
    font-size: 1.5rem;
    font-family: 'Espana Light';
    letter-spacing: .2rem;
}

.sidebar ul li {
    list-style: none;
    font-size: 1.5rem;
    padding: 10px 0;
}


.sidebar ul li span {
    margin-left: 20px;
}

.nav {
    position: relative;
    top: 20px;
}

.settings {
    position: absolute;
    bottom: 30px;
}

.topbar {
    grid-area: topbar;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
}

.search  {
    width: 100%;
}

.search form {
    width: 80%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    position: relative;
    left: 20px;
}

.search input {
    font-size: inherit;
    padding: 3px 10px;
    border-radius: 55px;
    width: clamp(100px, 50%, 500px);
    border: none;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    right: 20px;
}

.profile .avatar {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middlebar {
    grid-area: middlebar;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
}

.middlebar .avatar {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.middlebar .username {
    font-size: 1.2rem;
    font-weight: 700;
}

.middlebar .greeting {
    margin-left: 20px;
}

.middlebar .buttons {
position: absolute;
right: 20px;
}

.middlebar .buttons ul {
    display: flex;
    gap: 20px;
 
}

.middlebar .buttons ul li{
    list-style-type: none;
    padding: 5px 5px;
    width: 65px;
    background-color: red;
    color: rgb(255, 218, 45);
    /* font-weight: 700; */
    border-radius: 55px;
    text-align: center;
    cursor: pointer;
}

.main {
    grid-area: main;
    background-color: rgba(250, 234, 216, 0.4);
    display: grid;
    grid: 
    "projects announcements" 1fr 
    "projects trending" 1fr 
    / 3fr 1fr;
    column-gap: 20px;
    min-height: 0px;
    padding-bottom: 10px;
}

.projects {
    position: relative;
    padding-top: 40px;
    grid-area: projects;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 220px;
    grid-row-gap: 20px;
    overflow: scroll;
    
}

.content-type {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 1.3rem;
    font-weight: 700;
}

.project {
    position: relative;
    /* border: 1px solid black; */
    border-left: 5px solid rgb(255, 218, 45);
    background-color: rgba(250, 234, 216, 0.6);
    /* border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px; */
    border-radius: 10px;
    padding: 20px 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.pr-title {
    font-size: 1.1rem;
    font-weight: 700;
}

.pr-buttons {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    gap: 15px;
}

.announcements {
    padding-top: 40px;
    grid-area: announcements;
    position: relative;
}

.ann-wrapper {
    padding: 10px 20px;
    /* border: 1px solid black; */
    background-color: rgba(250, 234, 216, 0.6);

    border-radius: 10px;
    margin-right: 20px;
}

.ann-content {
    padding: 5px 0;
}

.ann-content:nth-child(even) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.ann-title  {
    font-size: 1.05rem;
    font-weight: 700;
}

.trending {
    padding-top: 40px;
    grid-area: trending;
    position: relative;
}

.trend-wrapper {
        padding: 5px 20px;
        /* border: 1px solid black; */
        background-color: rgba(250, 234, 216, 0.6);
        border-radius: 10px;
        margin-right: 20px;
}

.tr-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tr-profile .avatar {
        display: inline-block;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
}


